*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body{
   min-height: 120vh;
   background-color: hsl(233, 47%, 7%); 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0 120px;
}

main{
    background-color: hsl(244, 38%, 16%);
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 30px;
}

.statistics{
    display: flex; 
    justify-content: space-evenly;
}

#sub-title{
    color: white;
    font-size: 35px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

span{
    color: hsl(277, 64%, 61%);
}

.details, .stats p{
    color: hsla(0, 0%, 100%, 0.75);
    word-spacing: 2px;
    line-height: 20px;
    letter-spacing: 1.5px;
}

.stats strong{
    color: white;
    font-size: 20px;
}

.background{
    width: 100%;
    background: url(./images/image-header-desktop.jpg);
    height: 440px;
}

.span{
    display: block;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 79%, 13%, 0.644);
}

footer{
    width: 100%;
    padding: 15px;
}

.attribution { 
    font-size: 16px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-size: 18px;
}

