*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

/*Colors*/

body{
   background-color: hsl(233, 47%, 7%); 
}

#sub-title{
    color: white;
    font-size: 28px;
}

span{
    color: hsl(277, 64%, 61%);
}

.details, .stats p{
    color: hsla(0, 0%, 100%, 0.75);
    word-spacing: 2px;
    line-height: 20px;
    letter-spacing: 1.5px;
}

.stats strong{
    color: white;
    font-size: 20px;
}

footer{
    width: 100%;
    padding: 15px;
}

.attribution { 
    font-size: 16px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-size: 18px;
}
